html {
  font-family: Helvetica;
}

header {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
  color: khaki;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  }

p strong {
  color: blue;
  }

.title {
  color: white;
  font-size: 32px
  font-weight: bold;
}

.brushes {
  background-color: mediumspringgreen;
}

.frames {
  background-color: lightcoral;
}

.paint {
  background-color: skyblue;
}
